<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Curricula_Variable_System.Properties.Settings.curricula_variable_systemConnectionString"
            connectionString="Data Source=.;Initial Catalog=curricula_variable_system;User ID=sa;Password=sql"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>